/* Remove notices */
.update-nag.notice.notice-warning.inline,
.woodmart-msg.updated
{
  display: none !important;
}
/* 
tr.form-field.form-required,
tr.form-field
{
  display: flex;
  flex-direction: column;

  width: 100%;
}

.form-table th {
  padding: 20px 10px 0px 0;
}

/* Estilos para a tabela de usuários
table.form-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table.form-table th, table.form-table td {
  padding: 10px;
  text-align: left;
}

table.form-table th {
  background-color: #f5f5f5;
}

table.form-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
} */
